/* * {
    box-sizing: border-box;
} */

@font-face{
    font-family: "Poppins-Light";
    src: url("../styles/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face{
    font-family: "Rikos";
    src: url("../styles/fonts/Rikos/Rikos-OEZ8.ttf") format("truetype");
}

@font-face{
    font-family: "Anoxic";
    src: url("../styles/fonts/Anoxic/AnoxicLight-3zlK8.ttf") format("truetype");
}

@font-face{
    font-family: "RockSalt";
    src: url("../styles/fonts/RockSalt/RockSalt-Regular.ttf") format("truetype");
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: "#EFE599"; */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

body {
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;
    font-family: Poppins-Light;
    /* , -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif; */
    /* color: #2e76c8; */
    color: #555555;

    /* ref: https://stackoverflow.com/questions/3540194/how-to-make-a-grid-like-graph-paper-grid-with-just-css */
    background:
        conic-gradient(from 90deg at 1px 1px,#0000 90deg, #33333311 0)
        0 0/30px 30px;
}

button {
    color: #333333;
    border-radius: 8px;
    border-width: 0;
    cursor: pointer;
    display: inline-block;
    font-family: "Poppins-Light";
    font-size: 0.8em;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: #FFFD74;
}

.mother-container {
    display: flex;
    flex-direction: column;
    margin: 0;

    align-items: center;
    justify-content: center;
    padding-top: 3em;
}

.top-child-container {
    display: flex;
    flex-direction: column;
    order: 0;

    align-items: center;
    justify-content: center;
}

.bottom-child-container {
    display: flex;
    flex-direction: column;
    order: 1;

    align-items: center;
    /* justify-content: center; */

    /* height: 13em; */
    width: 25em;
    margin-top: 2em;
    /* overflow-y: auto; */
}

.side-panel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFBF3DD;
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.5s;
    padding-top: 40px;
}

.replay-window {
    height: 90%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 5%;
    left: 15%;
    /* background-color: #FFF8DC; */
    background-color: #FFFFE0;
    opacity: 0.95;
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.2s;
}

.error-text {
    color: #E92E2E;
}

h2 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

p {
    font-size: 0.75em;
}

table, th, td {
    border: none !important;
    border-collapse: collapse;
    text-align: center;
    font-size: 0.85em;
    border-spacing: 0;
    padding: 0;
}

td {
    height: 3em;
    width: 3em;
}

span {
    color: transparent;
    height: 10px;
}

h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h5 {
    margin-top: 0em;
    margin-bottom: 0.5em;
    text-decoration: underline;
}

*:focus {
    outline: none;
}


/* ref: https://codepen.io/MarioDesigns/pen/woJgeo */
@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}

.sun {
    margin-top: 10px;
    width: 280px;
    height: 280px;
    /* border: 1px #333333 solid */
    border: none !important;
    margin-left: auto;
    margin-right: auto;

    /* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
	transform: translatey(0px);
	animation: float 4s ease-in-out infinite;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    /* background-color: '#CCCCCC44'; */
    background-image: url("../public/station_view_sun.png");
    background-position: center center;
    background-repeat: no-repeat;
    /* background-size: contain */
    background-size: 330px 330px;
}


.cover_art {
    z-index: 1000;
	position: absolute;
    margin: 0;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #282828;
    background-image: url("../public/cover-art.png");
    background-position: center center;
    background-repeat:no-repeat;
    background-size: contain;

    display: flex;
    align-items: center;
    justify-content: center;
}

.hide_slow {
    -webkit-animation: fadeinout 0.7s linear forwards;
    animation: fadeinout 0.7s linear forwards;
    /* transition: all 1s; */
}

.hide_fast {
    -webkit-animation: fadeinout 0.2s linear forwards;
    animation: fadeinout 0.2s linear forwards;
    /* transition: all 1s; */
}

@-webkit-keyframes fadeinout {
    0% { opacity: 1.0; z-index: 1000}
    50% { opacity: 0.5; z-index: 500}
    100% { opacity: 0; z-index: -1}
}

@keyframes fadeinout {
    0% { opacity: 1.0; z-index: 1000}
    50% { opacity: 0.5; z-index: 500}
    100% { opacity: 0; z-index: -1}
}

.show {
    -webkit-animation: display .3s linear forwards;
    animation: display .3s linear forwards;
}

@-webkit-keyframes display {
    0% { opacity: 0.2; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}

@keyframes display {
    0% { opacity: 0.2; }
    50% { opacity: 0.6; }
    100% { opacity: 1; }
}
